ion-menu{
    background-color: transparent !important;
    font-family: 'RobotoMono'  !important;
}
ion-content{
    background-color: transparent !important;
    font-family: 'RobotoMono'  !important;
}
ion-list{
    background-color: transparent !important;
    font-family: 'RobotoMono'  !important;
}
ion-label{
    background-color: transparent !important;
    font-family: 'RobotoMono'  !important;
}
