<ion-header>
  <ion-toolbar>

    <ion-buttons routerLink="../home" slot="start">
      <ion-icon name="arrow-back-sharp">   
      </ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h2>{{user?.userNombre}}</h2>
      <p>{{user?.userDocumento}}</p>
      <p>{{user?.userEmail}}</p>
      <p>{{user?.userDireccion}}</p>
      <p>{{user?.userTelefono}}</p>
      <p>{{user?.createdAt | date}}</p>
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" shape="round"(click)="editaPerfil()"  >Editar Perfil</ion-button>
</ion-content>
