.ion-toolbar{
    background-color: #5da3ff !important;
}
#itm{
    --background: transparent !important;
    border: none !important;
    color: black !important;
}
#lst{
    --background: transparent !important;
    border: none !important;
    color: black !important;
    --width:auto !important;
}
