ion-input{
    background-color: transparent !important;
    font-family: 'RobotoMono'  !important;
    color: black;
    
}
ion-button{
    width: 100% !important;
}
ion-card{
    align-items: center;
    justify-content: center;
    height: auto;
}
