
.login-card{
    
    width: 50% !important;
    --background: linear-gradient(-45deg,  #5fbba4, rgb(103, 207, 255) );
    border-radius: 20px; 
    display: inline-block;
    margin-top: 70px;
  }

  .icon{
    width: 170px;
    height: 70px;
   margin: auto;
  }
