<ion-header>
  <ion-toolbar>
    <ion-buttons routerLink="../login" slot="start">
      <ion-icon name="arrow-back-sharp">   
      </ion-icon>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding-top"(submit)="resetear()">
    <div class="ion-text-center"> 
      <small>Introduzca su correo electronico.. Asi podra recibir las instrucciones de recuperacion de cuenta !</small>
    </div>
    <ion-card class="contenido-recuperar">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input placeholder="Ingrese su Correo Electronico" type="email" [(ngModel)]="email" name='email'></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
          <ion-row>
          <ion-col>
            <ion-button color="dark" type="submit" >Enviar</ion-button>
          </ion-col>
        </ion-row>
    
      </ion-card-content>
    </ion-card>
</form>
</ion-content>
