<app-submenu>
  
</app-submenu>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Descripcion                        Precio</p>
  <ion-list>
    <ion-item *ngFor="let documentServicio of arrayColeccionServicio" >
        <ion-label >{{documentServicio.data.servicio}}             {{documentServicio.data.precio}} </ion-label>
      <ion-button   (click)="irReservas()">
        Seleccionar
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>
