<ion-header>
  <ion-toolbar>
    <ion-buttons routerLink="../home" slot="start">
      <ion-icon name="arrow-back-sharp">   
      </ion-icon>
    </ion-buttons>
    <ion-title >Reservar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>LISTA DE TAREAS</h1>
  <ion-list>
    <ion-item *ngFor="let documentServicio of arrayColeccionServicio" >
      <ion-grid>
        <ion-row>
          <h2>{{documentServicio.data.servicio}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentServicio.data.precio}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label >Pokémon Yellow</ion-label>
      <ion-button   routerLink="../reservas">
        Aceptar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
      <ion-button>
        Aceptar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
      <ion-button>
        Aceptar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
      <ion-button>
        Aceptar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
      <ion-button>
        Aceptar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
