<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Nombres"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Documento"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Contacto"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Direccion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Clave" type="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="dark" routerLink="">Guardar</ion-button>
      </ion-col>
    </ion-row>

  </ion-card-content>
</ion-card>


</ion-content>
